a{
    @include formatage_police;
    text-decoration: none;
    padding-bottom: 5px;
}

h3{
    font-family: Calibri,sans-serif;
    font-size:30px;
    color:#24292f;
    font-weight:500;
    padding-left:10px;
    margin: 0;
}

ul{
    list-style-type: none;
}
.container{
    margin-top: 70px;
}

body{;
    display: flex;
    flex-direction: column;
    margin: 0;
    background:linear-gradient(45deg,#f2f2f2,#d9d9d9) 50% no-repeat;
}

